set ignorecase
set smartcase
let mapleader = " "
set scrolloff=3 " 3 lines above/below cursor when scrolling

" Integrate with system clipboard
set clipboard=unnamedplus,unnamed

let mapleader = " "

"
set number
set showmode

imap jj <Esc>
imap ,, <Esc>
vmap ,, <Esc>

nmap <leader>s :w<cr>

set cursorline

"incremental search
set incsearch

" Indent everything
"nnoremap <leader>i ggvG=

nmap <leader>f :action GotoFile<CR>
nmap <leader>c :action GotoClass<CR>


" Reload .ideavimrc
nnoremap <leader>l   :source ~/.ideavimrc<CR>
nnoremap <leader>p   :action FindInPath<CR>
"nnoremap <leader>q   :action CloseEditor<CR>
nnoremap <leader>Q   :action CloseAllEditors<CR>
"nnoremap <leader>t   :action GotoTest<cr>
nnoremap <leader>o   :action FileStructurePopup<Cr>
"nmap <leader>b   :action RecentFiles<cr>
nnoremap <leader>mu   :action MethodUp<cr>
nnoremap <leader>md   :action MethodDown<cr>
nnoremap <leader>,   :e#<CR>
nnoremap <leader>\   :action SplitVertically<CR>
nnoremap <leader>-   :action SplitHorizontally<CR>
nnoremap <leader>0   :action Unsplit<CR>
nnoremap <leader>G   :action Generate<CR>


"debug
nnoremap <leader>bd   :action Debug<CR>
nnoremap <leader>bt   :action ToggleLineBreakpoint<CR>

"ace jump action
nnoremap <leader>a   :action AceAction<CR>

"editing
nnoremap <leader>;   :action CommentByLineComment<CR>

"search word under the cursor by ideavim
"nnoremap <leader>T    yaw :action FindInPath<CR><c-v>

"clear the search buffer when hitting return 
nnoremap <space><cr> :nohlsearch<cr>

""bookmarks
nnoremap <leader>bm   :action ToggleBookmark<CR>
nnoremap <leader>bn   :action GotoNextBookmark<CR>
nnoremap <leader>bp   :action GotoPreviousBookmark<CR>
nnoremap <leader>bl   :action ShowBookmarks<CR>

"navigation
"nnoremap <m-o> :action Back<CR>
nnoremap <a-o> :action Back<CR>
nnoremap <a-n> :action GotoDeclaration<CR>
nnoremap <leader>t   :action GotoRelated<CR>
nnoremap <leader>.   :action VimFilePrevious<cr>

"windows
nnoremap <leader>wb   :action ActivateBuildToolWindow<CR>

"file operations
nnoremap <leader>q   :action VimFileSaveClose<CR>



"tab navigation
nnoremap gh gT
nnoremap gl gt

"window management
" enter newlines
nnoremap <c-m> :action EditorEnter<CR>
inoremap <c-m> <C-o>:action EditorEnter<CR>





